<div class = "container__big-card">

  <div class = "big-card__img">
    <img src="/constantine-news/ideias/Boruto-cap80.png" alt="Boruto capitulo 80" srcset=""
    height="200px";
    >
  </div>

  <div class = "big-card__title">
    <h1><a href ="#">Reação e analise do capitulo 80 de Boruto</a></h1>
  </div>

  <div class = "big-card__content">
    <p>
      O novo capítulo de Boruto (capítulo 80) acaba de chegar para deixar os fãs em choque! 
      Logo após o capítulo anterior, o protagonista tenta lidar com a sua nova realidade, enquanto Momoshik fica em um estado de fúria incrédulo. 
      Além disso, muitas emoções surgem com novas possibilidades para a história. O aguardado timeskip finalmente começará e o fim oficial do Boruto "clássico" finalmente aconteceu! 
      Este capítulo pode ser o melhor da obra, então não perca mais tempo e acesse agora para mais informações.
    </p>
  </div>
</div>